.container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5eeee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .instructions strong {
    font-weight: bold;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input[type="file"] {
    margin-right: 10px;
  }
  
  .input-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .input-container button:hover{
    background-color: #0056b3; 
    transform: translateY(-2px);  
  }
  
  .input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .summary-button button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

.summary-button button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    }

.summary-button button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }


.quiz-button button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    }
    
.quiz-button button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    }
    
.quiz-button button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }

.notes-button button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
        
.notes-button button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    }
        
.notes-button button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }

  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .button-container{
    display: flex;
    justify-content: space-between;
  }

  .quizOrNotes{
    margin-top: 40px;
  }
  
.print button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
        
.print button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    }
        
.print button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }

  .result-container {
    display: flex;
    justify-content: space-between;
  }
  
  .transcription, .summary {
    flex: 1;
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    margin: 0;
    font-size: 16px;
    color: #666;
  }
  